In [62]:
import pandas as pd

In [63]:
df=pd.read_csv('archive (1)/spam_or_not_spam.csv')

In [64]:
df

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2995   abc s good morning america ranks it the NUMBE...      1
2996   hyperlink hyperlink hyperlink let mortgage le...      1
2997   thank you for shopping with us gifts for all ...      1
2998   the famous ebay marketing e course learn to s...      1
2999   hello this is chinese traditional 子 件 NUMBER世...      1

[3000 rows x 2 columns]

In [65]:
null_rows = df[df.isnull().any(axis=1)]
print(null_rows)

     email  label
2966   NaN      1

In [66]:
df1=df.dropna()

In [67]:
df1.isnull().sum()

email    0
label    0
dtype: int64

In [68]:
df1.dtypes

email    object
label     int64
dtype: object

In [69]:
df1

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2995   abc s good morning america ranks it the NUMBE...      1
2996   hyperlink hyperlink hyperlink let mortgage le...      1
2997   thank you for shopping with us gifts for all ...      1
2998   the famous ebay marketing e course learn to s...      1
2999   hello this is chinese traditional 子 件 NUMBER世...      1

[2999 rows x 2 columns]

In [85]:
df1['label'].value_counts()

label
0    2500
1     499
Name: count, dtype: int64

In [90]:
from sklearn.model_selection import train_test_split

In [97]:
x=df1['email']
y=df1['label']

In [98]:
x.shape

(2999,)

In [99]:
y.shape

(2999,)

In [100]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [103]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

In [104]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [105]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [106]:
clf.score(X_test,y_test)

0.9883333333333333

In [107]:
email=['Endless value from live streams, vibrant community engagement, and enriching upcoming sessions']

In [108]:
clf.predict(email)

array([1], dtype=int64)